<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
          alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

        <div class="card-body p-5">
          <h2 class="text-uppercase text-center mb-5">Welcome to JK Tech</h2>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <form [formGroup]="Form" (ngSubmit)="loggedIn()">
              <input type="text" class="form-control form-control-lg" formControlName="email"
                placeholder="Enter your email">
              <small *ngIf="!Form.get('email')?.valid && Form.get('email')?.touched "
                class="form-text text-danger w-100">Your Email</small>


              <div class="form-outline mb-4">
                <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">

                <small *ngIf="!Form.get('password')?.valid && Form.get('password')?.touched "
                  class="form-text text-danger w-100">Password</small>
              </div>


              <div class="d-flex justify-content-center">
                <button type="submit"
                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
              </div>




            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- <input type="email" id="form1Example13" class="form-control form-control-lg" />
<label class="form-label" for="form1Example13">Email address</label>


<!-- Password input -->
<!-- <div class="form-outline mb-4">
  <input type="password" id="form1Example23" class="form-control form-control-lg" />
  <label class="form-label" for="form1Example23">Password</label>
</div> -->

<!-- <div class="d-flex justify-content-around align-items-center mb-4"> -->
<!-- Checkbox -->

<!-- </div> -->
<!-- Submit button -->
<!-- <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>

  </div> -->