<!-- <app-header></app-header> -->

<div class="container">
  
  <app-header [titleName]="title" (updateTitleChild)="updateTitle($event)" [caseType]="Type"></app-header>
  
<ul>
  <li><a routerLink="table" routerLinkActive="highlight">Home</a></li>
  <li><a routerLink="users" routerLinkActive="highlight" [routerLinkActiveOptions]="{exact:true}">users</a></li>

</ul>


<button (click)="goToUserModule('users')">go to user module</button>
<router-outlet></router-outlet>

<app-leave-managment (UpdateTypehandler)="updateType($event)"></app-leave-managment>



<app-footer></app-footer>

</div>




