
 <div class="row">
    <div class="col-xl-4 col-sm-3 col-3">
      <div class="card" style="background-color:rgb(68, 209, 68);color: white;">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <h2>Approved: {{countApprove}}</h2>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-3 col-3">
      <div class="card" style="background-color:rgb(193, 209, 68);color: white;">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <h2> Pending : {{countPending}} </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-sm-3 col-3">
      <div class="card" style="background-color:rgb(393, 109, 38);color: white;">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <h2> Rejected : {{countRejected}} </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-sm-3 col-3">
      <div class="card" style="background-color:rgb(209, 68, 103);color: white;">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="align-self-center">
                <h2>Total Employees: {{countApprove+countPending + countRejected}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
